<%= form_with(model: magazine, local: true) do |form| %>
  <% if magazine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(magazine.errors.count, "error") %> prohibited this magazine from being saved:</h2>
  
      <ul>
      <% magazine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label "Nombre de la revista:" , class: "form-label"%>
    <%= form.text_field :name , class:"form-control"%>
  </div>

  <div class="mt-5">
    <h4>Trabajos</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Revista</th>
          <th>Escritor</th>
          <th>Editor</th>
          <th>Revisor</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @oenologists.each do |o| %>
          <tr>
            <td><%= form.label o.name %></td>
            <%=collection_check_boxes(:job_title_ids, o.id, @jobtitles, :id, :name,class:"form-check form-check-inline" ) do |b| %>
              <td><%= b.check_box(class:"form-check-input", checked: magazine.isOenologistThisJobTitle?(o.id,b.value)) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar Revista', class: "btn btn-dark" %>
  </div>
<% end %>





