<%= form_with(model: magazine, local: true) do |form| %>
  <% if magazine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(magazine.errors.count, "error") %> prohibited this magazine from being saved:</h2>
  
      <ul>
      <% magazine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    
    <% @oenologists.each do |o| %>
    <%= form.label o.name %>
      <%=collection_check_boxes(:job_title_ids, o.id, @jobtitles, :id, :name ) do |b| %>
        <%=  b.label + b.check_box(checked: magazine.isOenologistThisJobTitle?(o.id,b.value)) %>
      <% end %>
      <br/>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


