<%= form_with(model: strain, local: true) do |form| %>
  <% if strain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(strain.errors.count, "error") %> prohibited this strain from being saved:</h2>

      <ul>
      <% strain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nombre , class:"form-label"  %>
    <%= form.text_field :name , class:"form-control"%>
    <div class="mt-2">
        <%= form.label :Disponible, class:"form-check-label" %>
        <%=form.check_box :available, class:"form-check-input"%>
    </div>
  </div>




  <div class="actions">
    <%= form.submit 'Guardar', class:"btn btn-dark" %>
  </div>
<% end %>
