<p id="notice"><%= notice %></p>

<h1>Vinitos</h1>
<%= link_to 'Agregar Vino', new_wine_path %>

<table class="table">
  <thead>
    <tr>
      <th>Vino</th>
      <th>Composición</th>
      <th>Puntuación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= link_to wine.name, edit_wine_path(wine) %></td>
        <td> 
          <% wine.strains.order(:name).each do |s| %>
            <%= "#{s.name}  (#{s.percentage(wine.id)}%)" %>
          <% end %>
        </td>
        <td><%= wine.averageScore %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


